<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boilerplate - About</title>
</head>
<body>
  <h1>About pixxi</h1>
  <p><a href="/">Back home</a></p>
</body>
</html>
