<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boilerplate - NodeJS</title>
</head>
<body>
  <h1>Boilerplate test</h1>
  <p><a href="/about">NodeJS</a></p>
</body>
</html>
